<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="js/vue/vue.min_01.js" type="text/javascript"></script>
<script src="js/vue/vue-resource.js" type="text/javascript"></script>
<script src="js/vue/vue-router.js" type="text/javascript"></script>
<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/music.css">
<link rel="stylesheet" type="text/css" href="css/movie.css" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body>
<div id="app_wap">
<title>app-{{navTitle}}</title>
<div class="header">
    <div class="headerLeft">
    	<a href="{{navLeftUrl}}">
			<img :src="navLeftImage"/>
		</a>
    </div>
    <div class="headerTitle">
    	{{navTitle}}
    </div>
    <div class="headerRight">
        <a href="{{navRightUrl}}">
        	<img src="img/individual_center.png">
        </a>
    </div>
</div>
<!-- 头部结束内容开始 -->
<div class="wrap">
<ul class="table-view">
	<li class="main-cell ng-scope" v-for="item in itemList">
		<a href="readDetail.html?id={{item.id}}">
			<div class="main-cell-tag">
				<span class="ng-binding"> - 阅读 -</span>
			</div>
			<div class="main-cell-title">
				<span class="ng-binding">{{item.title}}</span>
			</div>
			<div class="main-cell-author">
				<span class="ng-binding">作者: {{item.author_name}}</span>
			</div>
			<div class="main-cell-icon">
				<img :src="imagePrefix+item.img_url">
			</div>
			<div class="main-cell-forward">
				<span class="ng-binding">{{item.forward}}</span>
			</div>
			<div class="main-cell-tool">
				<span>{{item.post_date}}</span>
			<span class="ng-binding">收藏: {{item.like_count}}</span>
			</div>
		</a>
	</li>
</ul>
<!--音乐搜索-->
	<div class="table-view">
			<div class="music-cell" v-for="item in music_list">
				<a href="musicDetail.html?id={{item.id}}">
					<div class="music-cell-tag" style="display:block">
						<span>-音乐-</span>
					</div>
					<div class="music-cell-title" class="">
						<span>{{item.title}} </span>
					</div>
					<div class="music-cell-author">
						<span>作者: {{item.author_name}}</span>
					</div>
					<div class="music-cell-icon">
						<img :src="imagePrefix+item.img_url">
						<div class="music-cell-icon-center"></div>
					</div>
					<div class="music-cell-forward">
						<span>{{item.forward}}</span>
					</div>
					<div class="music-cell-tool">
						<span>{{item.post_date}}</span>
						<span>收藏: {{item.like_count}}</span>
					</div>
				</a>
			</div>
	</div>
<!--影视-->
<div class="table-view">
		<div class="movie-cell" v-for="item in video_list">
			<a href="movieDetail.html?id={{item.id}}">
				<div class="movie-cell-tag" style="display:block">
					<span>- 影视 -</span>
				</div>
				<div class="movie-cell-title">
					<span>{{item.title}} </span>
				</div>
				<div class="movie-cell-author">
					<span>作者: {{item.author.user_name}}</span>
				</div>
				<div class="movie-cell-icon">
					<img :src="imagePrefix+item.img_url">
				</div>
				<div class="movie-cell-subtitle">
					<span>《{{item.subtitle}}》</{{item.subtitle}}></span>
				</div>
				<div class="movie-cell-forward">
					<span>注: {{item.forward}}</span>
				</div>
			</a>
		</div>
	</div>

</div>
<!--内容结束底部开始-->
<div class="footer">
    <li class="active">
        <a href="index.html">
        	<span class="tab-item-icon">
        	<img src="img/main.png"></span>
        </a>
        <span class="tab-item-title">首页</span>
    </li>
    <li>
        <a href="readList.html">
        	<span class="tab-item-icon">
        	<img src="img/read.png">
        </span>
        	<span class="tab-item-title">阅读</span>
        </a>
    </li>
    <li>
        <a href="musicList.html">
        <span class="tab-item-icon">
        	<img src="img/music.png">
        </span>
        	<span class="tab-item-title">音乐</span>
        </a>
    </li>
    <li>
    <a href="movieList.html">
    <span class="tab-item-icon">
    <img src="img/movie.png">
    </span>
    <span class="tab-item-title">影视</span>
    </a>
    </li>
</div>
</div>
<script src="controllers/comme.js"></script>
<script src="controllers/search.js"></script>
<script src="controllers/base64.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

