<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" type="text/css" href="css/movie.css" />
	</head>

	<body>

		<div class="box">
			<div class="table-view">
				<div class="movie-cell" ng-repeat="item in itemList">

					<a href="#/movieDetail/{{item.id}}">
						<div class="movie-cell-tag" class="">
							<span>- {{item.categoryName}} -</span>
						</div>
						<div class="movie-cell-title" class="">
							<span>{{item.title}} </span>
						</div>
						<div class="movie-cell-author">
							<span>作者: {{item.author.user_name}}</span>
						</div>
						<div class="movie-cell-icon">
							<img src="{{imagePrefix+item.img_url}}">
						</div>
						<div class="movie-cell-subtitle">
							<span>《{{item.subtitle}}》</{{item.subtitle}}></span>
						</div>
						<div class="movie-cell-forward">
							<span>注: {{item.forward}}</span>
						</div>
						

					</a>
				</div>
			</div>

		</div>

	</body>

</html>