<html>
	<head>
		<title></title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="css/movie.css"/>
	</head>
	<body>
		<div class="movie-detail-box">
			<div class="cover">
				<img src="{{imagePrefix+data.poster}}"/>
			</div>
			<div class="player-box">
				<video ng-src="{{media_url}}" width="100%"  controls="controls"></video>
			</div>
			<div class="title">
				<span>《{{data.title}}》</span>
			</div>
			<div class="info">
				<span ng-bind-html="info"></span>
			</div>
			<div class="desc">
				<div>- 剧情简介 -</div>
				<div>{{data.officialstory}}</div>
			</div>
			
			<div class="background">
				<img src="{{data.poster}}"/>
				
			</div>
		</div>
	</body>
</html>