<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" type="text/css" href="css/music.css" />
	</head>

	<body>

		<div class="box">
			<div class="table-view">

				<div class="music-cell" ng-repeat="item in itemList">

					<a href="#/musicDetail/{{item.id}}">
						<div class="">
							<div class="music-cell-tag" class="">
								<span>- {{item.categoryName}} -</span>
							</div>
							<div class="music-cell-title" class="">
								<span>{{item.title}} </span>
							</div>
							<div class="music-cell-author">
								<span>作者: {{item.author_name}}</span>
							</div>
							<div class="music-cell-icon">

								<img src="{{imagePrefix+item.img_url}}">
								<div class="music-cell-icon-center">

								</div>
							</div>
							<div class="music-cell-forward">
								<span>{{item.forward}}</span>
							</div>
							<div class="music-cell-tool">
								<span>7小时前</span>
								<span>收藏: {{item.like_count}}</span>
							</div>
						</div>

					</a>
				</div>
			</div>

		</div>

	</body>

</html>